:root {
  --super_dark: #18191a;
  --wash: #222831;
  --base: #393E46;
  --middle: #C6DE41;
  --detail: #FFD369;
  --text: #dfdfdf;
  --dimed_white: #c2c2c2;
  --blue_label: rgba(73, 124, 153, 0.5);
  --blue_detail: #95c4eb;

  --pastel-green: #8cd673;
  --pastel-orange: #d6bd73;
  --pastel-red: #d68f73;
  --pastel-blue: #95c4eb;

  --dark-green: rgb(40, 54, 40);
  --dark-red: rgb(58, 38, 38);
  --dark-blue: rgb(44, 54, 61);

  --gray: rgb(160, 160, 160);
  --darkery_gray: rgb(104, 104, 104);
  --super_text: white;

  --small: 14px;
  --normal: 18px;

  --red: red;
  --opposit_text: '#222'
}
body{
  background-color: var(--dark-blue);
  color: var(--text);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;

}

/* *{border: 1px solid rgba(255, 255, 255, 0.3);} */

/* Target the whole scrollbar */
::-webkit-scrollbar {
  width: 0.3rem;
  border-radius: 1rem;
  opacity: 0.5;
}

/* Target the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: var(--detail);
  border-radius: 1rem;
}

/* Target the scrollbar track */
::-webkit-scrollbar-track {
  background-color: transparent
}

/* Target the scrollbar buttons */
::-webkit-scrollbar-button {
  display: none;
  /* You can hide the buttons if not needed */
}

/* Target the scrollbar corner */
::-webkit-scrollbar-corner {
  opacity: 0;
}

@font-face {
  font-family: 'Monocraft Nerd Font';
  src: url('./Monocraft-nerd-fonts-patched.ttf');
}

@font-face {
  font-family: 'scientifica';
  src: url('./scientifica.ttf');
}
/* 
@font-face {
  font-family: 'Monocraft Nerd Font';
  src: url('./Monocraft-nerd-fonts-patched.ttf');
}

@font-face {
  font-family: 'Monocraft Nerd Font';
  src: url('./Monocraft-nerd-fonts-patched.ttf');
} */